QUOTATION_SYSTEM_URL=
QUOTATION_SYSTEM_USERNAME=
QUOTATION_SYSTEM_PASSWORD=

HIFLEET_URL=https://www.hifleet.com
HIFLEET_USERNAME=
HIFLEET_PASSWORD=

EQUASIS_URL=https://www.equasis.org/EquasisWeb/restricted/Search?fs=Search
EQUASIS_USERNAME=
EQUASIS_PASSWORD=

OFAC_URL=https://sanctionssearch.ofac.treas.gov/
UK_SANCTIONS_URL=https://search-uk-sanctions-list.service.gov.uk/
UK_RUSSIA_REGS_URL=https://www.legislation.gov.uk/uksi/2019/855
EU_RUSSIA_REG_833_URL=https://eur-lex.europa.eu/eli/reg/2014/833/oj/eng
