QUOTATION_SYSTEM_URL=http://47.76.191.30:9528/login
QUOTATION_SYSTEM_USERNAME=
QUOTATION_SYSTEM_PASSWORD=
QUOTATION_HISTORY_FALLBACK_CSV=
QUOTATION_HISTORY_FALLBACK_XLSX=

HIFLEET_URL=https://www.hifleet.com
HIFLEET_USERNAME=
HIFLEET_PASSWORD=

EQUASIS_URL=https://www.equasis.org/EquasisWeb/public/HomePage
EQUASIS_SEARCH_URL=https://www.equasis.org/EquasisWeb/public/HomePage
EQUASIS_USERNAME=
EQUASIS_PASSWORD=

OFAC_URL=https://sanctionssearch.ofac.treas.gov/
UK_SANCTIONS_URL=https://search-uk-sanctions-list.service.gov.uk/
UK_RUSSIA_REGS_URL=https://www.legislation.gov.uk/uksi/2019/855
EU_RUSSIA_REG_833_URL=https://data.europa.eu/apps/eusanctionstracker/entities/%20
EU_VESSEL_DESIGNATIONS_URL=https://www.dma.dk/growth-and-framework-conditions/maritime-sanctions/sanctions-against-russia-and-belarus/eu-vessel-designations
